ARBISCAN_API_KEY=your_etherscan_key_here
GEMINI_API_KEY=your_groq_key_here
PRIVATE_KEY=0xyour_private_key_here
RPC_URL_SEPOLIA=https://sepolia-rollup.arbitrum.io/rpc
RPC_URL_MAINNET=https://arb1.arbitrum.io/rpc